<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AiTextTranslator">

        <activity
            android:name="com.lijk.aitexttranslator.MainActivity"
            android:exported="true"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lijk.aitexttranslator.SelectionTranslateActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:label="@string/translate_activity_label"
            android:theme="@style/Theme.AiTextTranslator.Popup">
            <intent-filter
                android:priority="1000"
                android:icon="@mipmap/ic_launcher"
                android:label="@string/translate_activity_label">
                <action android:name="android.intent.action.TRANSLATE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter
                android:priority="1000"
                android:icon="@mipmap/ic_launcher"
                android:label="@string/translate_activity_label">
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

    </application>
</manifest>
